# Executables
tests/testVectorTest_c++11
tests/testVectorTest_c++14
tests/testVectorTest_c++17
tests/testVectorTest_c++20
benchmark/runBench


# Workfiles
tests/*.xml
tests/*.json

# Doxygen output
doc/html/**
doc/latex/**
doc/rtf/**
doc/man/**
doc/xml/**
doc/docbook/**

# backup files
*~
*.bak

# benchmark / resultfiles
benchmark/*.csv
benchmark/*.ods

#### githup standards:

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
